[Unit]
Description=Airflow Docker Stack (safe start/stop)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/kdrogaieva/airflow_runtime

ExecStart=/usr/bin/docker compose start airflow-webserver airflow-scheduler
ExecStop=/usr/bin/docker compose stop airflow-webserver airflow-scheduler postgres

RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
